.navbar-brand {
  font-size: 2.5em;
  text-shadow: 1px 1px 1px black;
}

.navbar-brand,
.nav-link {
  color: #007bff !important;
  font-family: 'Russo One', sans-serif;
}


/* change brand name font size in small devices */
@media (max-width: 765px) {
  .navbar-brand {
    font-size: 2em;
  }
}
@media (max-width: 575px) {
  .navbar-brand {
    font-size: 1.5em;
  }
}


